/* Custom Stylesheet */
/* Use this file to override Creative files so you can update */

.lead-big {
  color: #4db6ac;
}

.lead-med {
  color: #4db6ac;
  font-weight: bold;
  text-transform: uppercase;
}

img.img-box {
  width: 30%;
  padding-bottom: 20px;
}